<div id="mainBody" class="container">
    <div class="mainForm">
        <form id="todoForm">
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="form-group col-md-2">
                <label for="priority">우선순위</label>
                <select class="form-control" name="priority" id="priority">
                        <option value="0" selected="selected"> </option>
                        <option value="1">!</option>
                        <option value="2">!!</option>
                        <option value="3">!!!</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <input class="form-check-input" type="checkbox" value="1" id="duedateCheck" onclick="toggleDate();">
                <label for="duedateCheck">마감기간</label>
                <input type="date" class="form-control" name="duedate" id="duedate"
                    min="2010-01-01" max="2020-12-31" readonly>
            </div>
            <div class="form-group col-md-12">
                <label for="content">내용</label>
                <input type="text" class="form-control" name="content" id="content">
            </div>
          </div>
          <button class="btn btn-primary" id="submitBtn" type="submit" onclick="testTodo();">제출</button>
        </form>
    </div>
    <div class="mainList row">
        <h2>할 일</h2> <hr>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>우선</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>마감</th>
                    <th>완료</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody id="todoList">
                <% for(var i=0; i<todos.length; i++) { var todo = todos[i]; %>
                <tr id="todoIdx_<%=todo.id%>">
                    <td>
                        <select class="form-control" name="priority_<%=todo.id%>" id="priority_<%=todo.id%>">
                                <option value="0" <% if(todo.prior=="0") {%> selected="selected" <% } %> > </option>
                                <option value="1" <% if(todo.prior=="1") {%> selected="selected" <% } %> >!</option>
                                <option value="2" <% if(todo.prior=="2") {%> selected="selected" <% } %> >!!</option>
                                <option value="3" <% if(todo.prior=="3") {%> selected="selected" <% } %> >!!!</option>
                        </select>
                    </td>
                    <td>                        
                        <input type="text" class="form-control" name="title_<%=todo.id%>" 
                        id="title_<%=todo.id%>" value="<%=todo.title%>">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="content_<%=todo.id%>" id="content_<%=todo.id%>" value="<%=todo.content%>">
                    </td>
                    <td>
                        <% if(todo.duedate == null){ %> 
                        <input class="form-check-input duedate_check" type="checkbox" id="duedate_check_<%=todo.id%>" value="1" onclick="todo_toggleDate(<%=todo.id%>);">
                        <input type="date" class="form-control" name="duedate_<%=todo.id%>" id="duedate_<%=todo.id%>" value='' readonly>
                        
                        <% }else{ %>
                        <input class="form-check-input duedate_check" type="checkbox" id="duedate_check_<%=todo.id%>" value="1" onclick="todo_toggleDate(<%=todo.id%>);" checked>
                        <input type="date" class="form-control" name="duedate_<%=todo.id%>" id="duedate_<%=todo.id%>" value=''>
                        <script>document.getElementById("duedate_<%=todo.id%>").value=formatDate('<%=todo.duedate %>');</script>
                        <% } %>
                    </td>
                    <td><%= todo.check %></td>
                    <td><button id="todoUpdBtn(<%=todo.id%>)"class="btn btn-danger btn-put" data-id="<%=todo.id%>">수정</button></td>
                    <td><button id="todoDelBtn(<%=todo.id%>)"class="btn btn-danger btn-delete" data-id="<%=todo.id%>">삭제</button></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>